<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/Header.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Title</title>
</head>
<body>
<header th:fragment="header"  class="header header-index">
    <div class="container" style="position: relative;">
        <div class="row align-items-center">
            <div class="col-lg-3 col-12">
                <a href="" class="logo" title="Logo">
                    <img width="240" height="48" src="https://bizweb.dktcdn.net/100/494/385/themes/919262/assets/logo.png?1706512307319" alt="Bean Furniture">
                </a>
            </div>
            <div class="col-lg-7 col-2 header-menu header-menu-left">
                <div class="header-menu-des">
                    <nav class="header-nav">
                        <div class="title_menu">
                            <span class="title">Danh mục sản phẩm</span>
                        </div>
                        <ul class="item_big">
                            <li class="nav-item">
                                <a href="" class="a-img">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="a-img">Giới thiệu</a>
                            </li>
                            <li class="nav-item has-mega">
                                <a href="" class="a-img caret-down a-index">Sản phẩm</a>
                                <i class="fa fa-caret-down"></i>
                                <div class="mega-content ">
                                    <div class="row">
                                        <div class="col-lg-9 col-12">
                                            <ul class="level0">
                                                <li class="level1 parent item fix-navs">
                                                    <a href="" class="hmega">Đèn trang tí</a>
                                                    <ul class="level1">
                                                        <li class="level2">
                                                            <a href="">Đèn chùm</a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn âm trần</a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn thả trần </a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn cây - đèn bàn </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="level1 parent item fix-navs">
                                                    <a href="" class="hmega">Đèn trang tí</a>
                                                    <ul class="level1">
                                                        <li class="level2">
                                                            <a href="">Đèn chùm</a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn âm trần</a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn thả trần </a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn cây - đèn bàn </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="level1 parent item fix-navs">
                                                    <a href="" class="hmega">Đèn trang tí</a>
                                                    <ul class="level1">
                                                        <li class="level2">
                                                            <a href="">Đèn chùm</a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn âm trần</a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn thả trần </a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn cây - đèn bàn </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="level1 parent item fix-navs">
                                                    <a href="" class="hmega">Đèn trang tí</a>
                                                    <ul class="level1">
                                                        <li class="level2">
                                                            <a href="">Đèn chùm</a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn âm trần</a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn thả trần </a>
                                                        </li>
                                                        <li class="level2">
                                                            <a href="">Đèn cây - đèn bàn </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <a href="">
                                                <img width="400" height="220" src="https://bizweb.dktcdn.net/100/494/385/themes/919262/assets/megamenu_banner.png?1706512307319" alt="Banner" class="lazyload loaded">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="" class="a-img">Hệ thống </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="a-img">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="a-img">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div>
            <div class="col-lg-2 col-12 header-menu header-menu-right">
                <div class="menu-bar d-lg-none d-block">
                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-bars fa-w-14"><path fill="#ffffff" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z" class=""></path></svg>
                </div>
                <div class="header-control">
                    <ul class="ul-control">
                        <li class="header-search">
                            <a href="" class="button-search">
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                        <li class="header-user fas fa-user">
                            <ul>
                                <li>
                                    <a href="" >Đăng ký</a>
                                </li>
                                <li>
                                    <a href="" >Đăng nhập</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header-wishlist">
                            <a href="" class="fas fa-shopping-cart icon" title="Sản phẩm Yêu thích"></a>
                        </li>
                        <li class="header-cart block-cart">
                            <a href="" class="icon fas fa-heart"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


    </div>

</header>

</body>
</html>