<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div id ="product-list" class="d-flex d-inline container">
<div th:each="product: ${page}" class="p-2 container">
    <p th:text="${product.title}"></p>
    <img width="100px" height="100px" th:src="${product.thumbnail}">
    <p></p>
</div>
    <div class="pagination container" th:if="${page}">
        <ul>
            <li th:if="${page.number > 0}">
                <button class="btn-pagination" th:onclick="'loadProducts(' + (${page.number - 1}) + ')'">Previous</button>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(0, page.totalPages - 1)}">
                <button class="btn-pagination" th:onclick="'loadProducts(' + ${pageNumber} + ')'">
                    <span th:text="${pageNumber + 1}"></span>
                </button>
            </li>
            <li th:if="${page.number + 1 < page.totalPages}">
                <button class="btn-pagination" th:onclick="'loadProducts(' + (${page.number + 1}) + ')'">Next</button>
            </li>
        </ul>
    </div>
</div>

<script th:inline="javascript">
    /* Sử dụng JavaScript và Thymeleaf để thực hiện AJAX */
    /* Sử dụng th:attr để truyền giá trị th:href và th:onclick */

    // Hàm AJAX để tải dữ liệu sản phẩm
    function loadProducts(page) {
        $.ajax({
            type: "GET",
            url: "/home",
            data: {
                page: page,
                size: 5
            },
            success: function(response) {
                // Cập nhật giao diện với dữ liệu sản phẩm mới
                $("#product-list").html(response);
            },
            error: function(xhr) {
                console.error(xhr);
            }
        });
    }

</script>

</body>
</html>