<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/BreadCrumb.css}" rel="stylesheet" />
</head>
<head th:insert="fragments/head :: head"></head>
<body>
<div th:fragment="breadcrumb" class="bread-crumb" style="background: url('//bizweb.dktcdn.net/100/499/932/themes/926650/assets/breadcrumb-bg.jpg?1705830293643');">
    <div class="breadcrumb-body">
        <div class="title-bread-crumb">Đăng nhập tài khoản</div>
            <ul class="breadcrumb-des">
                <li class="home">
                    <a href="home">
                        <span>Trang chủ</span>
                    </a>
                    <i class="ti-angle-right"></i>
                </li>
                <li>
                    <strong>
                        <span>Đăng nhập tài khoản</span>
                    </strong>
                </li>
            </ul>
    </div>
</div>
</body>
</html>