<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="pagination" class="pagination container" th:if="${page}">
    <ul>
        <li th:if="${page.number > 0}">
            <button class="btn-pagination" th:onclick="'loadNewestProducts(' + (${page.number - 1}) + ')'">Previous</button>
        </li>
        <li th:each="pageNumber : ${#numbers.sequence(0, page.totalPages - 1)}">
            <button class="btn-pagination" th:onclick="'loadNewestProducts(' + ${pageNumber} + ')'">
                <span th:text="${pageNumber + 1}"></span>
            </button>
        </li>
        <li th:if="${page.number + 1 < page.totalPages}">
            <button class="btn-pagination" th:onclick="'loadNewestProducts(' + (${page.number + 1}) + ')'">Next</button>
        </li>
    </ul>
</div>

</body>
</html>