/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2024, 1:07:08 PM
    Author     : Admin
*/

.main {
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                align-items: center;
                justify-content: center;
                display: flex;              
            }

            .email-container {   
                background-color: #fff;
                width: 500px;
                min-height: 400px;
                position: relative;
                border: 1px solid #ccc;
                padding: 40px;
                border-radius: 1rem;
            }

            .logo {
                text-align: center;
                padding-bottom: 10px;
            }

            .title {
                color: #f3a270;
                text-align: center;
                padding-bottom: 10px;
                text-transform: uppercase;
            }
            .first-des {
                padding-top: 10px;
            }

            .des {
                font-size: 18px;              
            }
            .enter-input {
                width: 100%;
                padding: 10px 0;
            }
            .enter-input label {
                font-size: 18px;
                text-align: left;
                font-weight: 600;
            }
            .enter-input input {
                width: 500px;
                height: 60px;
                border-radius: 6px; 
                padding-left: 6px;
            }
            
            input[type="password"] {
                margin-top: 10px;
            }

            .btn-continue {
                padding-top: 60px;
                text-align: right;
            }
            .btn-continue button {
                padding: 6px;
                border: none;
                background-color: rgb(53, 53, 212);
                color: #fff;
                border-radius: 6px;
                cursor: pointer;
            }
            .back {
                padding: 10px;
            }

            .back a {
                font-size: 24px;
                padding: 10px;
                border-radius: 50%;
                text-decoration: none;
                color: #000;
            }
            .back a:hover {
                background-color: #ccc;
                cursor: pointer;
            }
            .gmail {
                display: flex;
                align-items: center;               
                justify-content: center;                          
            }
            .gmail-body {
                border: 1px solid #ccc;
                display: flex;
                align-items: center;
                padding: 6px 10px;
                border-radius: 1rem; 
            }

            .gmail .gmail-body img {
                margin-right: 10px; 
                border-radius: 50%; 
            }
            .button-container {
                padding-top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .cancel-link{
                text-decoration: none;
            }
            .continue-button {
                padding: 10px 15px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .cancel-link {
                order: 1; /* Sắp xếp nút Quay lại ở bên trái */
            }

            .continue-button {
                order: 2; /* Sắp xếp nút Tiếp tục ở bên phải */
            }