/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 17, 2023, 11:03:41 AM
    Author     : Admin
*/

.main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.email-container {   
    background-color: #fff;
    width: 500px;
    min-height: 400px;
    position: relative;
    border: 1px solid #ccc;
    padding: 40px;
    border-radius: 1rem;
}

.logo {
    text-align: center;
    padding-bottom: 10px;
}

.title {
    color: #f3a270;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.des {
    font-size: 20px;
    padding-bottom: 20px;
}

.btn-continue {
    padding-top: 60px;
    text-align: right;
}
.btn-continue button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
.back {
    padding: 10px;
}

.back a {
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
}
.back a:hover {
    background-color: #ccc;
    cursor: pointer;
}
.gmail {
    display: inline-block;
    align-items: center;
    border: 1px solid #ccc;
    justify-content: center;
    padding: 6px 10px;
    border-radius: 1rem;
}
.gmail-body {
    display: flex;
    align-items: center;
}

.gmail .gmail-body img {
    margin-right: 10px; 
    border-radius: 50%; 
}







