/* flashsale.css */

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.section_flash_sale {
    padding: 80px 0;
    background-image: url(//bizweb.dktcdn.net/100/499/932/themes/926650/assets/background_flash_sale.jpg?1705830293643);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.block-title {
    text-align: left;
}

.timer {
    text-align: center;
}

.time {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.time .block-timer {
    text-align: center;
}

.block-timer{
    background-color: #d94e28;
    color: #fff;
    padding: 10px;
}

.time p,
.time span {
    margin: 0;
}

.thumb-flasale {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flash-sale-swiper {
    width: 100%;
    overflow: hidden;
}

.flash-sale-swiper .swiper-slide {
    width: 300px;
    margin-right: 20px;
}

.product-thumbnail {
    position: relative;
}

.smart {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--mainColor);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

.action {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
}

.action button,
.action a {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.flashsale__label,
.flashsale___percent {
    color: #fff;
}

.flashsale__progressbar {
    background-color: #fff;
    height: 10px;
    margin-top: 10px;
}

.flashsale___percent {
    height: 100%;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .time {
        flex-direction: column;
        align-items: center;
    }

    .time .block-timer {
        margin-bottom: 10px;
    }

    .flash-sale-swiper .swiper-slide {
        width: calc(100% - 20px);
        margin-right: 0;
    }
}
