.section_flash_sale {
    position: relative;
    padding: 80px 0px;
    background-image: url(//bizweb.dktcdn.net/100/499/932/themes/926650/assets/background_flash_sale.jpg?1705830293643);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.section_flash_sale .block-title {
    position: relative;
    z-index: 6;
    margin-bottom: 30px
}

@media (max-width: 991px) {
    .section_flash_sale .block-title {
        display:block
    }
}

.section_flash_sale .block-title h2 {
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 10px
}

.section_flash_sale .block-title h2 a {
    color: #fff;
    font-size: 40px;
    font-weight: bold
}

@media (max-width: 545px) {
    .section_flash_sale .block-title h2 a {
        font-size:28px
    }
}

@media (max-width: 320px) {
    .section_flash_sale .block-title h2 a {
        font-size:24px
    }
}

.section_flash_sale .block-title h2 a:hover {
    opacity: .6
}

.section_flash_sale .block-title .desc {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px
}

.section_flash_sale .timer {
    position: relative;
    z-index: 9
}

.section_flash_sale .timer .time {
    display: flex;
    align-items: center;
    gap: 10px
}

.section_flash_sale .timer .time .block-timer {
    padding: 5px 10px;
    color: #fff;
    width: calc(100%/4);
    text-align: center;
    background-color: var(--mainColor)
}

.section_flash_sale .timer .time .block-timer p {
    font-size: 18px;
    display: block;
    margin: 0px;
    font-weight: bold
}

.section_flash_sale .timer .time .block-timer span {
    display: block;
    font-size: 14px
}

.section_flash_sale .timer .time .doted-timer {
    display: none
}

@media (max-width: 991px) {
    .section_flash_sale .timer {
        margin-bottom:30px
    }
}

.section_flash_sale .thumb-flasale {
    position: relative;
    z-index: 9
}

.section_flash_sale .thumb-flasale .item_product_main {
    padding: 10px;
    background-color: #fff
}

@media (max-width: 767px) {
    .section_flash_sale {
        padding:40px 0px
    }
}

.section_flash_sale .swiper-pagination {
    position: static;
    margin-top: 10px
}

.section_flash_sale .background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    opacity: 1
}

.flashsale__bottom {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 10px
}

.flashsale__bottom .flashsale__label {
    font-size: 12px
}

.flashsale__bottom .flashsale__progressbar {
    display: block;
    width: 100%;
    height: 10px;
    background: #F3F3F3;
    margin-bottom: 3px;
    border-radius: 9999px;
    position: relative;
    overflow: hidden
}

.flashsale__bottom .flashsale__progressbar.style2 {
    height: 18px
}

.flashsale__bottom .flashsale__progressbar.style2 .flashsale__label {
    font-size: 12px;
    position: relative;
    left: 0;
    z-index: 2;
    text-align: center;
    margin: auto
}

.flashsale__bottom .flashsale___percent {
    width: 0%;
    height: 100%;
    background: linear-gradient(270deg, var(--gradient1) .46%, var(--gradient2) 98.15%);
    border-radius: 99px 0 0 99px;
    position: absolute;
    top: 0;
    z-index: 1
}