/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 12, 2023, 6:23:51 PM
    Author     : Admin
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    background: #fff;
    font-weight: 500;
}

.slider{
    padding-top: 50%;
    background: url('../img/slider1.webp') top center / cover no-repeat;
}

.slider-body {
    position: absolute;
    top: 50%;
    left: 60px;
    border-radius: 5px;
    padding: 50px 80px;
    background-color: rgba(0,0,0,0.05);
    font-weight: 600;
    transition: 2s all;
    z-index: 2;
    transform: translate(0, -50%);
}
.slider-hashtag {
    color: #f3a270;
    font-size: 30px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.slider-heading {
    text-transform: uppercase;
    margin-bottom: 12px
}
.buy-btn {
    text-decoration: none;
    background-color: #f3a270;
    color: #fff;
    padding: 11px 32px;
    margin-top: 32px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
}


section.section_flashsale_product {
     margin-top: 80px;
     margin-bottom: 40px;
     background: #f9f9f9;
}

.sale-menulist {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    align-items: center;
}
.sale-menulist .active {
    padding-right: 20px;
    font-size: 36px;
}
.sale-menulist li.active a:hover {
    color: #f3a270;
    
}
.sale-menulist .fire {
    width: 100px;
}

.noibat-menulist {
    list-style: none;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    margin-top: 40px;
    margin-bottom: 15px;
}
.noibat-menulist li a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 22px;
    color: #000;
    text-transform: uppercase;
}
.noibat-menulist li {
    padding: 0 10px;
    text-align: center;
    position: relative;
}
.noibat-menulist li.active a {
    color: #f3a270;
}

.row-fix {
    margin-left: -10px;
    margin-right: -10px;
}
.row-fix .col-fix {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.product-action {
    border-radius: 5px;
    position: relative;
    background-color: #f0f1f2;
    border: 1px solid #f0f1f2;
    overflow: hidden;
}

.product-action .product-thumbnail {
    position: relative;
    background: #f9f9f9;
}
.product-action .product-thumbnail .image_thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    -webkit-justify-content: center;
    align-items: center;
    position: relative;
    height: auto !important;
    padding-bottom: 100%
}
.product-action .product-thumbnail .image_thumb img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s ease-in-out;
}
.product-action .product-thumbnail .image_thumb img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.product-action .smart {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    z-index: 5;
    line-height: 22px;
    padding: 0 5px;
    background-color: #c90000;
    border-radius: 5px;
}
.product-action .smart span {
    position: relative;
    font-size: 14px;
    font-weight: 500;
}
.product-action .btn-wishlist {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0;
    padding: 7px;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 10px;
    background: #dcdcdc;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    display: flex;
}
.product-action .btn-wishlist .ti-search {
    color: #fff;
}

.product-action .btn-wishlist:hover {
    background-color: #f3a270;
    cursor: pointer;
}
.product-action .badge {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 80px;
}
.product-action .badge .new {
    background-color: #ffebeb;
    color: #c90000;
}
.product-action .badge span {
    border-radius: 20px;
    width: 75px;
    display: inline-block;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
}
.product-action .btn-shopping{  
    position: absolute;
    bottom: 10px;
    right: 0;
}
.product-action .btn-shopping button {
   border: none;
   padding: 6px;
   margin-right: 5px;
   border-radius: 6px;
   background-color: #f3a270;
   color: #fff;
}
.product-action .product-info {
    padding: 16px 10px;
}
.product-action .product-info .product-name {
    font-size: 16px;
    text-align: left;
}

.product-action .product-info .product-name a:hover {
    color: #f3a270;
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
    height: calc(1em * 1.4 * 2);
}
.line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.4 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
}

.product-action .product-info .price-box {
    margin-bottom: 5px;
    position: relative;
    color: #e91032;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}
.product-action .product-info .price-box .compare-price {
    color: #666;
    text-decoration: line-through;
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
}

.btn-view {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
    align-items: center;
}

.btn-view input {
    border: none;
    border-radius: 20px; 
    padding: 10px 20px;
    background-color: #f3a270;
    color: #fff;
}

.cart-modal {
    position: fixed;
    z-index: 9999; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid #f3a270;
    
}


.popup-cart-mobile {
    min-width: 450px;
    height: auto;
    background: #fff;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid #f3a270;
}

.popup-cart-mobile .header-popcart .top-cart-header span {
    display: block;
    padding: 10px;
    background: #f3a270;
    font-weight: bold;
    color: #fff;
    padding-left: 35px;
}
.popup-cart-mobile .media-content {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #f3a270;
    margin-bottom: 10px;
}
.popup-cart-mobile .media-content .thumb-1x1 {
    width: 70px;
}
.popup-cart-mobile .media-content .thumb-1x1 img {
    max-width: 100%;
    max-height: 100%;
}
.popup-cart-mobile .media-content .body_content {
    width: calc(100% - 70px);
    padding-left: 15px;
}
.popup-cart-mobile .media-content .body_content h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}
.popup-cart-mobile .media-content .body_content .product-new-price {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    display: block;
}
.popup-cart-mobile .media-content .body_content .product-new-price b {
    margin-right: 15px;
    color: #f3a270;
}
.popup-cart-mobile .media-content .body_content .product-new-price span {
    color: #979797;
    background: none;
    padding: 0;
    font-size: 14px;
    display: block;
}
.popup-cart-mobile .noti-cart-count {
    font-size: 14px;
    color: #000;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 10px;
}
.popup-cart-mobile .noti-cart-count span {
    display: inline-block;
    background: none;
    color: #f3a270;
    padding: 0;
}
.modal-close{
    position: absolute;
    right: 10px;
    top: 6px;
}

.popup-cart-mobile .bottom-action {
    display: flex;
    justify-content: space-between;
}

.popup-cart-mobile .viewcart {
    margin-left: 5px;
}


.popup-cart-mobile .checkout {
    margin-right: 5px;
}

.popup-cart-mobile .viewcart,
.popup-cart-mobile .checkout {
    height: 40px;
    line-height: 38px;
    width: 48%;
    background: #f3a270;
    border-radius: 0;
    padding: 0px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    border: solid 1px #f3a270;
    float: right;
    border-radius: 5px;
    margin-bottom: 6px;
}
.hide {
    display: none;   
}

