.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}
.section_collection {
    padding: 60px 0px;
}

.section_collection .item {
    width: 100%;
    height: 100%;
    background-color: #f6f4f0
}

.section_collection .item .image {
    display: block;
    overflow: hidden;
    position: relative
}

.section_collection .item .image a {
    overflow: hidden;
    width: 100%;
    display: flex;
    -o-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -os-justify-content: center;
    -o-display: flex;
    -moz-display: flex;
    -webkit-display: flex;
    -os-display: flex;
    align-items: center;
    position: relative;
    height: auto !important;
    padding-bottom: 100%
}

.section_collection .item .image img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    will-change: opacify;
    transform: scale(1);
    transition: all 0.5s ease
}

.section_collection .item .info {
    text-align: left;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%
}

.section_collection .item .info h3 {
    margin: 0 10px
}

.section_collection .item .info h3 a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--textColor);
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out
}

.section_collection .item .info h3 a .icon-wrap {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: auto;
    right: 7%;
    margin-left: 0.8rem;
    white-space: nowrap;
    transition: transform .1s ease;
    overflow: hidden
}

.section_collection .item .info h3 a .icon-wrap svg {
    opacity: 0;
    width: calc(1 * 1.5rem)
}

.section_collection .item .info h3 a .count {
    opacity: 1
}

@media (max-width: 640px) {
    .section_collection .item .info h3 a {
        font-size:14px
    }
}

.section_collection .item:hover .image img {
    transform: scale(1.03)
}

.section_collection .item:hover .info h3 a {

    color: #fff;
    background-color: #d94e28;

}

.section_collection .item:hover .info h3 a .count {
    opacity: 0
}

.section_collection .item:hover .info h3 a .icon-wrap svg {
    opacity: 1
}

.section_collection .swiper-pagination {
    position: static;
    margin-top: 10px
}

@media (max-width: 767px) {
    .section_collection {
        padding:40px 0px
    }
}
