<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>
<head>
    <link th:href="@{/css/BreadCrumb.css}" rel="stylesheet" />
    <link th:href="@{/css/Header.css}" rel="stylesheet" />
    <link th:href="@{/css/Home.css}" rel="stylesheet" />
</head>

<body>
<div th:insert="fragments/header :: header"></div>

<div class="slider">
    <div class="slider-body">
        <h2 class="slider-hashtag">#Furnitures</h2>
        <h2 class="slider-heading">Xu hướng nội thất</h2>
        <p class="slider-des">Đồ nội thất cao cấp đến thương hiệu nội thất hàng đầu Việt nam</p>
        <button class="buy-btn">Mua Ngay</button>
    </div>
</div>

<section  class="section_flashsale_product">
    <div class="container">
        <ul class="sale-menulist">
            <li class="active">
                <a href="" title="">Sản phẩm nổi bật</a>
            </li>
            <li class="fire">
                <img src="">
            </li>
        </ul>
        <div class="current tab-content">
            <div class="row row-fix" id="newest-products">
                        <div th:each="product : ${products}" class="col-lg-3 col-6 col-xl-3 col-md-4 col-sm-6 col-fix">
                            <div class="product-action">
                                <div class="product-thumbnail">
                                    <a class="image_thumb">
                                        <img width="520" height="520" class="lazyload loaded" th:src="${product.thumbnail}">
                                    </a>
                                    <div class="smart">
                                        <span th:text="${'-' + product.discount * 100 +'%'}"></span>
                                    </div>
                                    <a class="btn-wishlist">
                                        <i class="fas fa-search"></i>
                                    </a>
                                    <div class="badge">
                                        <span class="new" th:text="${product.purchases + ' lượt mua'}"></span>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h5 class="product-name">
                                        <a class="line-clamp line-clamp-2" href="" >

                                        </a>
                                    </h5>
                                    <div class="price-box" th:text = "${product.price * product.discount}"></div>
                                    <span class="compare-price" th:text = "${product.price}"></span>
                                    <div class="btn-shopping">
                                        <button type="submit" title="Thêm vào giỏ hàng" class="fas fa-shopping-cart" onclick=""></button>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div th:insert="fragments/pagination :: pagination"></div>
        </div>
    </div>
</section>
</body>
</html>