<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/Login.css}" rel="stylesheet" />
    <link th:href="@{/css/BreadCrumb.css}" rel="stylesheet" />
    <link th:href="@{/css/Header.css}" rel="stylesheet" />
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/breadcrumb :: breadcrumb}"></div>
<div id="main">
    <section class="section">
        <div class="container">
            <div class="background-aside page-login">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xl-4 offset-xl-4 offset-lg-4 offset-md-3 offset-xl-3" style="margin: auto;">
                        <div class="row no-margin align-items-center" style="background: #fff;border-radius: 5px;">
                            <div class="page-login pagecustome clearfix no-padding">
                                <div class="wpx">
                                    <ul class="auth-block-menulist">
                                        <li class="active">
                                            <a href="loginPage" title="Đăng nhập">Đăng nhập</a>
                                        </li>
                                        <li>
                                            <a href="registerPage" title="Đăng ký">Đăng ký</a>
                                        </li>
                                    </ul>
                                    <h1 class="title-heads a-center">
                                        <span>Đăng nhập</span>
                                    </h1>
                                    <div id="login">
                                        <form th:action=@{/users/login} role="form" th:object="${userLogin}" method="POST">
                                            <div class="form-signup clearfix">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                        <fieldset class="form-group">
                                                            <input type="text" name="username" th:field="*{username}" value="" placeholder="Tài khoản" required class="form-control form-control-lg">
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                        <fieldset class="form-group">
                                                            <input type="password" name="password" value="" th:field="*{password}" placeholder="Mật khẩu" required class="form-control form-control-lg">
                                                        </fieldset>
                                                        <p style="color: #f94d45;margin-left: 4px;"></p>
                                                    </div>
                                                </div>

                                                <div class="section">
                                                    <button type="submit" value="Đăng ký" class="btn btn-style btn_50">Đăng nhập</button>
                                                </div>
                                            </div>

                                            <div class="block social-login-facebooks mt-15">
                                                <a href="enterEmailPage" class="a-center">Quên mật khẩu</a>
                                                <p class="a-center">Hoặc đăng nhập bằng</p>
                                                <a href="#"
                                                   class="social-login-facebooks">
                                                    <img width="129px" height="37px" src="https://bizweb.dktcdn.net/assets/admin/images/login/fb-btn.svg" alt="">
                                                </a>

                                                <a href="https://accounts.google.com/o/oauth2/auth?scope=email%20profile%20openid&redirect_uri=http://localhost:6969/FurnitureProject/loginWithGoogle&response_type=code
                                                           &client_id=315989718367-jttdafbqldhcfp5ijcu28fsa4blg6qrd.apps.googleusercontent.com&approval_prompt=force"><img width="129px" height="37px" src="https://bizweb.dktcdn.net/assets/admin/images/login/gp-btn.svg" alt=""></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
        // Lưu token vào localStorage sau khi đăng nhập thành công
        function saveTokenToStorage(token) {
            localStorage.setItem('accessToken', token);
        }

        // Thêm token vào header của mỗi yêu cầu HTTP
        function addTokenToHttpRequest() {
            const token = localStorage.getItem('accessToken');
            if (token) {
                // Nếu token tồn tại, thêm vào header "Authorization"
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + token;
                console.log('Header Authorization:', axios.defaults.headers.common['Authorization']);

            } else {
                // Nếu không có token, xóa header "Authorization"
                delete axios.defaults.headers.common['Authorization'];
            }
        }

        // Gọi hàm addTokenToHttpRequest() trước khi gửi mỗi yêu cầu HTTP
        axios.interceptors.request.use(function (config) {
            addTokenToHttpRequest();
            return config;
        }, function (error) {
            return Promise.reject(error);
        });
    /*]]>*/
</script>
</body>
</html>