<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//bizweb.dktcdn.net/100/499/932/themes/926650/assets/bootstrap-4-3-min.css?1708512217480">
        <link rel="stylesheet" href="../assets/css/Cart.css">
        <title>Giỏ hàng </title>
    </head>


    <body>
        <div class="bg-home">
            <section class="main-cart-page main-container col1-layout">
                <div class="main container cartpcstyle">
                    <div class="wrap_background_aside">
                        <div class="row">
                            <div class="col-xl-12 col-12 col-cart-left">
                                <div class="cart-page d-xl-block d-none">
                                    <div class="drawer__inner">
                                        <div class="CartPageContainer">

                                            <form action="/cart" method="post" novalidate="" class="cart ajaxcart cartpage">
                                                <div class="cart-header-info">
                                                    <div>Thông tin sản phẩm</div>
                                                    <div>Đơn giá</div>
                                                    <div>Số lượng</div>
                                                    <div>Thành tiền</div>
                                                </div>
                                                <div
                                                    class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body items">
                                                    <div class="ajaxcart__row">
                                                        <div class="ajaxcart__product cart_product" data-line="1">
                                                            <a href="/tu-chau-bo-tron-kem-tu-guong-thong-minh"
                                                               class="ajaxcart__product-image cart_image"
                                                               title="Tủ chậu bo tròn kèm tủ gương thông minh"><img
                                                                    src="https://bizweb.dktcdn.net/thumb/compact/100/499/932/products/o1cn01ygwggu1weuwnygvbc-2214665986277-0-cib.jpg"
                                                                    alt="Tủ chậu bo tròn kèm tủ gương thông minh"></a>
                                                            <div class="grid__item cart_info">
                                                                <div class="ajaxcart__product-name-wrapper cart_name">
                                                                    <a href="/tu-chau-bo-tron-kem-tu-guong-thong-minh"
                                                                       class="ajaxcart__product-name h4"
                                                                       title="Tủ chậu bo tròn kèm tủ gương thông minh">Tủ
                                                                        chậu bo tròn kèm tủ gương thông minh</a>
                                                                    <a class="cart__btn-remove remove-item-cart ajaxifyCart--remove"
                                                                       href="" data-line="1">Xóa</a>

                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half text-right cart_prices">
                                                                        <span class="cart-price">9.200.000₫</span>

                                                                    </div>
                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half cart_select">
                                                                        <div class="ajaxcart__qty input-group-btn">
                                                                            <button type="button"
                                                                                    class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count"
                                                                                    data-id="" data-qty="0" data-line="1"
                                                                                    aria-label="-">
                                                                                -
                                                                            </button>
                                                                            <input type="text" name="updates[]"
                                                                                   class="ajaxcart__qty-num number-sidebar"
                                                                                   maxlength="3" value="1" min="0" data-id=""
                                                                                   data-line="1" aria-label="quantity"
                                                                                   pattern="[0-9]*">
                                                                            <button type="button"
                                                                                    class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count"
                                                                                    data-id="" data-line="1" data-qty="2"
                                                                                    aria-label="+">
                                                                                +
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half text-right cart_prices">
                                                                        <span class="cart-price">9.200.000₫</span>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ajaxcart__row">
                                                        <div class="ajaxcart__product cart_product" data-line="2">
                                                            <a href="/ban-da-doi-chong-xuoc-be-mat-bong-chau-lien-mep"
                                                               class="ajaxcart__product-image cart_image"
                                                               title="Bàn đá đôi chống xước, bề mặt bóng, chậu liền mép"><img
                                                                    src="https://bizweb.dktcdn.net/thumb/compact/100/499/932/products/img-0980.jpg"
                                                                    alt="Bàn đá đôi chống xước, bề mặt bóng, chậu liền mép"></a>
                                                            <div class="grid__item cart_info">
                                                                <div class="ajaxcart__product-name-wrapper cart_name">
                                                                    <a href="/ban-da-doi-chong-xuoc-be-mat-bong-chau-lien-mep"
                                                                       class="ajaxcart__product-name h4"
                                                                       title="Bàn đá đôi chống xước, bề mặt bóng, chậu liền mép">Bàn
                                                                        đá đôi chống xước, bề mặt bóng, chậu liền mép</a>
                                                                    <a class="cart__btn-remove remove-item-cart ajaxifyCart--remove" href=""
                                                                       data-line="2">Xóa</a>

                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half text-right cart_prices">
                                                                        <span class="cart-price">2.250.000₫</span>

                                                                    </div>
                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half cart_select">
                                                                        <div class="ajaxcart__qty input-group-btn">
                                                                            <button type="button"
                                                                                    class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count"
                                                                                    data-id="" data-qty="0" data-line="2"
                                                                                    aria-label="-">
                                                                                -
                                                                            </button>
                                                                            <input type="text" name="updates[]"
                                                                                   class="ajaxcart__qty-num number-sidebar"
                                                                                   maxlength="3" value="1" min="0" data-id=""
                                                                                   data-line="2" aria-label="quantity"
                                                                                   pattern="[0-9]*">
                                                                            <button type="button"
                                                                                    class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count"
                                                                                    data-id="" data-line="2" data-qty="2"
                                                                                    aria-label="+">
                                                                                +
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half text-right cart_prices">
                                                                        <span class="cart-price">2.250.000₫</span>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ajaxcart__row">
                                                        <div class="ajaxcart__product cart_product" data-line="3">
                                                            <a href="/bon-tam-nam-dat-san-tron"
                                                               class="ajaxcart__product-image cart_image"
                                                               title="Bồn tắm nằm đặt sàn tròn"><img
                                                                    src="https://bizweb.dktcdn.net/thumb/compact/100/499/932/products/m20808-avt.jpg"
                                                                    alt="Bồn tắm nằm đặt sàn tròn"></a>
                                                            <div class="grid__item cart_info">
                                                                <div class="ajaxcart__product-name-wrapper cart_name">
                                                                    <a href="/bon-tam-nam-dat-san-tron"
                                                                       class="ajaxcart__product-name h4"
                                                                       title="Bồn tắm nằm đặt sàn tròn">Bồn tắm nằm đặt sàn
                                                                        tròn</a>
                                                                    <a class="cart__btn-remove remove-item-cart ajaxifyCart--remove"  href=""
                                                                       data-line="3">Xóa</a>

                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half text-right cart_prices">
                                                                        <span class="cart-price">33.660.000₫</span>

                                                                    </div>
                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half cart_select">
                                                                        <div class="ajaxcart__qty input-group-btn">
                                                                            <button type="button"
                                                                                    class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count"
                                                                                    data-id="" data-qty="0" data-line="3"
                                                                                    aria-label="-">
                                                                                -
                                                                            </button>
                                                                            <input type="text" name="updates[]"
                                                                                   class="ajaxcart__qty-num number-sidebar"
                                                                                   maxlength="3" value="1" min="0" data-id=""
                                                                                   data-line="3" aria-label="quantity"
                                                                                   pattern="[0-9]*">
                                                                            <button type="button"
                                                                                    class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count"
                                                                                    data-id="" data-line="3" data-qty="2"
                                                                                    aria-label="+">
                                                                                +
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half text-right cart_prices">
                                                                        <span class="cart-price">33.660.000₫</span>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ajaxcart__row">
                                                        <div class="ajaxcart__product cart_product" data-line="4">
                                                            <a href="/bon-tam-dat-san-massage-1-69m"
                                                               class="ajaxcart__product-image cart_image"
                                                               title="Bồn tắm đặt sàn massage 1.69m"><img
                                                                    src="https://bizweb.dktcdn.net/thumb/compact/100/499/932/products/mw8215b-170-ms-1-625f85b7e2c3b.jpg"
                                                                    alt="Bồn tắm đặt sàn massage 1.69m"></a>
                                                            <div class="grid__item cart_info">
                                                                <div class="ajaxcart__product-name-wrapper cart_name">
                                                                    <a href="/bon-tam-dat-san-massage-1-69m"
                                                                       class="ajaxcart__product-name h4"
                                                                       title="Bồn tắm đặt sàn massage 1.69m">Bồn tắm đặt
                                                                        sàn massage 1.69m</a>
                                                                    <a class="cart__btn-remove remove-item-cart ajaxifyCart--remove"  href=""
                                                                       data-line="4">Xóa</a>

                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half text-right cart_prices">
                                                                        <span class="cart-price">41.500.000₫</span>

                                                                    </div>
                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half cart_select">
                                                                        <div class="ajaxcart__qty input-group-btn">
                                                                            <button type="button"
                                                                                    class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count"
                                                                                    data-id="" data-qty="0" data-line="4"
                                                                                    aria-label="-">
                                                                                -
                                                                            </button>
                                                                            <input type="text" name="updates[]"
                                                                                   class="ajaxcart__qty-num number-sidebar"
                                                                                   maxlength="3" value="1" min="0" data-id=""
                                                                                   data-line="4" aria-label="quantity"
                                                                                   pattern="[0-9]*">
                                                                            <button type="button"
                                                                                    class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count"
                                                                                    data-id="" data-line="4" data-qty="2"
                                                                                    aria-label="+">
                                                                                +
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid">
                                                                    <div class="grid__item one-half text-right cart_prices">
                                                                        <span class="cart-price">41.500.000₫</span>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="ajaxcart__footer ajaxcart__footer--fixed cart-footer">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-12 offset-md-8 offset-lg-8 offset-xl-8">
                                                            <div class="ajaxcart__subtotal">
                                                                <div class="cart__subtotal">
                                                                    <div class="cart__col-6">Tổng tiền:</div>
                                                                    <div class="text-right cart__totle"><span
                                                                            class="total-price">86.610.000₫</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="cart__btn-proceed-checkout-dt">
                                                                <button onclick="goToCheckout(event)" type="button"
                                                                        class="button btn btn-default cart__btn-proceed-checkout"
                                                                        id="btn-proceed-checkout" title="Thanh toán">Thanh
                                                                    toán</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>

                                    </div>
                                </div>
                                <div class="cart-mobile-page d-block d-xl-none">
                                    <div class="CartMobileContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


    </body>

</html>