<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/hotcategorynew.css">
    <link rel="stylesheet" href="//bizweb.dktcdn.net/100/494/385/themes/919262/assets/bootstrap-4-3-min.css?1703641115968">

        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  
      <!-- Compiled and minified CSS -->


    <title>Hotcategory</title>
</head>
<body>
    <div class="section_collection">
        <div class="container">
            <div class="block-title">
                <h2>Danh mục nổi bật</h2>
            </div>
            <div class="block-content">
                <div class="collection-swiper swiper-container">
                    <div class="swiper-wrapper">
                        
                        
                        
                        
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="image">
                                    <a href="/bon-tam" title="Bồn tắm"><img class="lazyload" width="300" height="300" src="https://bizweb.dktcdn.net/thumb/large/100/499/932/collections/bon-tam.jpg?v=1699504371993" data-src="//bizweb.dktcdn.net/thumb/large/100/499/932/collections/bon-tam.jpg?v=1699504371993" alt="Bồn tắm"/></a>
                                </div>
                                <div class="info">
                                    <h3>
                                        <a href="/bon-tam" title="Bồn tắm">
                                            Bồn tắm
                                            <span class="icon-wrap">
                                                <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
                                                </svg>
                                            </span>
                                            <span class="count">9 sản phẩm</span>
                                        </a>
                                    </h3>
    
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="image">
                                    <a href="/bon-cau" title="Bồn cầu"><img class="lazyload" width="300" height="300" src="https://bizweb.dktcdn.net/thumb/large/100/499/932/collections/bon-cau.jpg?v=1699504384923" data-src="//bizweb.dktcdn.net/thumb/large/100/499/932/collections/bon-cau.jpg?v=1699504384923" alt="Bồn cầu"/></a>
                                </div>
                                <div class="info">
                                    <h3>
                                        <a href="/bon-cau" title="Bồn cầu">
                                            Bồn cầu
                                            <span class="icon-wrap">
                                                <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
                                                </svg>
                                            </span>
                                            <span class="count">8 sản phẩm</span>
                                        </a>
                                    </h3>
    
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="image">
                                    <a href="/sen-tam" title="Sen tắm"><img class="lazyload" width="300" height="300" src="https://bizweb.dktcdn.net/thumb/large/100/499/932/collections/sen-tam.jpg?v=1699504399643" data-src="//bizweb.dktcdn.net/thumb/large/100/499/932/collections/sen-tam.jpg?v=1699504399643" alt="Sen tắm"/></a>
                                </div>
                                <div class="info">
                                    <h3>
                                        <a href="/sen-tam" title="Sen tắm">
                                            Sen tắm
                                            <span class="icon-wrap">
                                                <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
                                                </svg>
                                            </span>
                                            <span class="count">4 sản phẩm</span>
                                        </a>
                                    </h3>
    
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="image">
                                    <a href="/tu-chau-lavabo" title="Tủ chậu Lavabo"><img class="lazyload" width="300" height="300" src="https://bizweb.dktcdn.net/thumb/large/100/499/932/collections/chau-lavabo.jpg?v=1699504446760" data-src="//bizweb.dktcdn.net/thumb/large/100/499/932/collections/chau-lavabo.jpg?v=1699504446760" alt="Tủ chậu Lavabo"/></a>
                                </div>
                                <div class="info">
                                    <h3>
                                        <a href="/tu-chau-lavabo" title="Tủ chậu Lavabo">
                                            Tủ chậu Lavabo
                                            <span class="icon-wrap">
                                                <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
                                                </svg>
                                            </span>
                                            <span class="count">4 sản phẩm</span>
                                        </a>
                                    </h3>
    
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="image">
                                    <a href="/voi-lavabo" title="Vòi Lavado"><img class="lazyload" width="300" height="300" src="https://bizweb.dktcdn.net/thumb/large/100/499/932/collections/chau-lavabo.jpg?v=1699504446760" data-src="//bizweb.dktcdn.net/thumb/large/100/499/932/collections/voi-lavabo.jpg?v=1699504435520" alt="Vòi Lavado"/></a>
                                </div>
                                <div class="info">
                                    <h3>
                                        <a href="/voi-lavabo" title="Vòi Lavado">
                                            Vòi Lavado
                                            <span class="icon-wrap">
                                                <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
                                                </svg>
                                            </span>
                                            <span class="count">0 sản phẩm</span>
                                        </a>
                                    </h3>
    
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="image">
                                    <a href="/phu-kien" title="Phụ kiện"><img class="lazyload" width="300" height="300" src="https://bizweb.dktcdn.net/thumb/large/100/499/932/collections/voi-lavabo.jpg?v=1699504435520" data-src="//bizweb.dktcdn.net/thumb/large/100/499/932/collections/guong.jpg?v=1699504456387" alt="Phụ kiện"/></a>
                                </div>
                                <div class="info">
                                    <h3>
                                        <a href="/phu-kien" title="Phụ kiện">
                                            Phụ kiện
                                            <span class="icon-wrap">
                                                <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
                                                </svg>
                                            </span>
                                            <span class="count">0 sản phẩm</span>
                                        </a>
                                    </h3>
    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>


    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="../assets/js/hotecategorynew.js"></script>
</body>
</html>