<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/newproduct.css">
    <title>NewProduct</title>
</head>
<body>
    <div class="section_product_new section_product">
        <div class="container">
            <div class="block-title">
                <h2><a href="san-pham-moi" title="Sản phẩm mới">Sản phẩm mới</a></h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="block-product relative">
                        <div class="product-new-swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-multirow" style="cursor: grab;">
                            <div class="swiper-wrapper" style="width: 1920px; transform: translate3d(0px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-active" style="width: 300px; margin-right: 20px;">
                                    <div class="item_product_main">
    
    
    
    <form action="/cart/add" method="post" class="variants product-action " data-cart-form="" data-id="product-actions-33474588" enctype="multipart/form-data">
        <div class="product-thumbnail">
            <a class="image_thumb" href="/tu-chau-lavabo-phong-tam-kiem-may-giat" title="Tủ chậu lavabo phòng tắm kiêm máy giặt">
                <img class="lazyload loaded" width="480" height="480" src="//bizweb.dktcdn.net/thumb/large/100/499/932/products/dh-21.jpg?v=1700061821290" data-src="//bizweb.dktcdn.net/thumb/large/100/499/932/products/dh-21.jpg?v=1700061821290" alt="Tủ chậu lavabo phòng tắm kiêm máy giặt" data-was-processed="true">
            </a>
            <a href="javascript:void(0)" class="btn-compare js-btn-wishlist setWishlist btn-views" data-wish="tu-chau-lavabo-phong-tam-kiem-may-giat" tabindex="0" title="Thêm vào yêu thích">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"></path></svg>
            </a>
            
            <div class="action">
        <div class="actions-secondary">
            <div class="actions-primary">
                <input class="hidden" type="hidden" name="variantId" value="102854783">
                <button class="btn-cart" title="Tùy chọn" type="button" onclick="window.location.href='/tu-chau-lavabo-phong-tam-kiem-may-giat'">
                    <span class="icon icon-settings">
                        <svg style="enable-background:new 0 0 50 50;" version="1.1" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M44,19.09V1h-2v18.09c-2.833,0.478-5,2.942-5,5.91s2.167,5.431,5,5.91V49h2V30.91c2.833-0.478,5-2.942,5-5.91   S46.833,19.569,44,19.09z M43,29c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S45.206,29,43,29z"></path><path d="M6,1v7.09C3.167,8.569,1,11.033,1,14s2.167,5.431,5,5.91V49h2V19.91c2.833-0.478,5-2.942,5-5.91s-2.167-5.431-5-5.91V1H6z    M11,14c0,2.206-1.794,4-4,4s-4-1.794-4-4s1.794-4,4-4S11,11.794,11,14z"></path><path d="M24,1v30.09c-2.833,0.478-5,2.942-5,5.91s2.167,5.431,5,5.91V49h2v-6.09c2.833-0.478,5-2.942,5-5.91s-2.167-5.431-5-5.91V1   H24z M29,37c0,2.206-1.794,4-4,4s-4-1.794-4-4s1.794-4,4-4S29,34.794,29,37z"></path></g><g></g></svg>
                    </span>
                </button>
            </div>
            <a title="Xem nhanh" href="/tu-chau-lavabo-phong-tam-kiem-may-giat" data-handle="tu-chau-lavabo-phong-tam-kiem-may-giat" class="quick-view btn-views">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12.01 20c-5.065 0-9.586-4.211-12.01-8.424 2.418-4.103 6.943-7.576 12.01-7.576 5.135 0 9.635 3.453 11.999 7.564-2.241 4.43-6.726 8.436-11.999 8.436zm-10.842-8.416c.843 1.331 5.018 7.416 10.842 7.416 6.305 0 10.112-6.103 10.851-7.405-.772-1.198-4.606-6.595-10.851-6.595-6.116 0-10.025 5.355-10.842 6.584zm10.832-4.584c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5zm0 1c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4z"></path></svg>
            </a>
        </div>
    </div>
        </div>
        <div class="product-info">
            <h3 class="product-name"><a href="/tu-chau-lavabo-phong-tam-kiem-may-giat" title="Tủ chậu lavabo phòng tắm kiêm máy giặt">Tủ chậu lavabo phòng tắm kiêm máy giặt</a></h3>
            <div class="price-box">
    13.500.000₫		</div>
        </div>
    </form>								</div>
                                </div>
                                <div class="swiper-slide swiper-slide-next" style="width: 300px; margin-right: 20px;">
                                    <div class="item_product_main">
    
    
    
    <form action="/cart/add" method="post" class="variants product-action " data-cart-form="" data-id="product-actions-33474585" enctype="multipart/form-data">
        <div class="product-thumbnail">
            <a class="image_thumb" href="/tu-chau-lavabo-lien-khoi-2-tang" title="Tủ chậu lavabo liền khối 2 tầng">
                <img class="lazyload loaded" width="480" height="480" src="//bizweb.dktcdn.net/thumb/large/100/499/932/products/o1cn01oi3pdg1dnadhusego-2215652100261-0-cib.jpg?v=1700061650540" data-src="//bizweb.dktcdn.net/thumb/large/100/499/932/products/o1cn01oi3pdg1dnadhusego-2215652100261-0-cib.jpg?v=1700061650540" alt="Tủ chậu lavabo liền khối 2 tầng" data-was-processed="true">
            </a>
            <span class="smart">-
    14% 
    </span>
            <a href="javascript:void(0)" class="btn-compare js-btn-wishlist setWishlist btn-views" data-wish="tu-chau-lavabo-lien-khoi-2-tang" tabindex="0" title="Thêm vào yêu thích">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"></path></svg>
            </a>
            
            <div class="action">
        <div class="actions-secondary">
            <div class="actions-primary">
                <input class="hidden" type="hidden" name="variantId" value="102854776">
                <button class="btn-cart" title="Hết hàng" type="button" disabled="disabled">
                    <span class="icon icon-outsock">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title></title><g><polyline class="cls-1" points="15 31 5 31 6 9 26 9 26.14 12"></polyline><path class="cls-1" d="M11,12V6a5,5,0,0,1,5-5h0a5,5,0,0,1,5,5v6"></path><circle class="cls-1" cx="23" cy="23" r="8"></circle><line class="cls-1" x1="27" x2="19" y1="23" y2="23"></line></g></svg>
                    </span>
                </button>
            </div>
            <a title="Xem nhanh" href="/tu-chau-lavabo-lien-khoi-2-tang" data-handle="tu-chau-lavabo-lien-khoi-2-tang" class="quick-view btn-views">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12.01 20c-5.065 0-9.586-4.211-12.01-8.424 2.418-4.103 6.943-7.576 12.01-7.576 5.135 0 9.635 3.453 11.999 7.564-2.241 4.43-6.726 8.436-11.999 8.436zm-10.842-8.416c.843 1.331 5.018 7.416 10.842 7.416 6.305 0 10.112-6.103 10.851-7.405-.772-1.198-4.606-6.595-10.851-6.595-6.116 0-10.025 5.355-10.842 6.584zm10.832-4.584c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5zm0 1c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4z"></path></svg>
            </a>
        </div>
    </div>
        </div>
        <div class="product-info">
            <h3 class="product-name"><a href="/tu-chau-lavabo-lien-khoi-2-tang" title="Tủ chậu lavabo liền khối 2 tầng">Tủ chậu lavabo liền khối 2 tầng</a></h3>
            <div class="price-box">
                <span class="price">5.590.000₫</span>
                <span class="compare-price">6.500.000₫</span>
    
            </div>
        </div>
    </form>								</div>
                                </div>
                                <div class="swiper-slide" style="width: 300px; margin-right: 20px;">
                                    <div class="item_product_main">
    
    
    							</div>
                                </div>
                                <div class="swiper-slide" style="width: 300px; margin-right: 20px;">
                                    <div class="item_product_main">
    
    
 

    
    
    
    <form action="/cart/add" method="post" class="variants product-action " data-cart-form="" data-id="product-actions-33451939" enctype="multipart/form-data">
        <div class="product-thumbnail">
            <a class="image_thumb" href="/bon-tam-dat-san-massage-1-69m" title="Bồn tắm đặt sàn massage 1.69m">
                <img class="lazyload" width="480" height="480" src="//bizweb.dktcdn.net/100/499/932/themes/926650/assets/lazy.png?1708512217480" data-src="//bizweb.dktcdn.net/thumb/large/100/499/932/products/mw8215b-170-ms-1-625f85b7e2c3b.jpg?v=1699887358777" alt="Bồn tắm đặt sàn massage 1.69m">
            </a>
            <span class="smart">-
    19% 
    </span>
            <a href="javascript:void(0)" class="btn-compare js-btn-wishlist setWishlist btn-views" data-wish="bon-tam-dat-san-massage-1-69m" tabindex="0" title="Thêm vào yêu thích">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"></path></svg>
            </a>
            
            <div class="action">
        <div class="actions-secondary">
            <div class="actions-primary">
                <input type="hidden" name="variantId" value="102718271">
                <button class="btn-cart add_to_cart " title="Thêm vào giỏ hàng">
                    <span class="icon icon-cart">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title></title><g><polyline class="cls-1" points="15 31 5 31 6 9 26 9 26.14 12"></polyline><path class="cls-1" d="M11,12V6a5,5,0,0,1,5-5h0a5,5,0,0,1,5,5v6"></path><circle class="cls-1" cx="23" cy="23" r="8"></circle><line class="cls-1" x1="23" x2="23" y1="19" y2="27"></line><line class="cls-1" x1="27" x2="19" y1="23" y2="23"></line></g></svg>
                    </span>
                </button>
            </div>
            <a title="Xem nhanh" href="/bon-tam-dat-san-massage-1-69m" data-handle="bon-tam-dat-san-massage-1-69m" class="quick-view btn-views">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12.01 20c-5.065 0-9.586-4.211-12.01-8.424 2.418-4.103 6.943-7.576 12.01-7.576 5.135 0 9.635 3.453 11.999 7.564-2.241 4.43-6.726 8.436-11.999 8.436zm-10.842-8.416c.843 1.331 5.018 7.416 10.842 7.416 6.305 0 10.112-6.103 10.851-7.405-.772-1.198-4.606-6.595-10.851-6.595-6.116 0-10.025 5.355-10.842 6.584zm10.832-4.584c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5zm0 1c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4z"></path></svg>
            </a>
        </div>
    </div>
        </div>
        <div class="product-info">
            <h3 class="product-name"><a href="/bon-tam-dat-san-massage-1-69m" title="Bồn tắm đặt sàn massage 1.69m">Bồn tắm đặt sàn massage 1.69m</a></h3>
            <div class="price-box">
                <span class="price">41.500.000₫</span>
                <span class="compare-price">51.000.000₫</span>
    
            </div>
        </div>
    </form>								</div>
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>