
.footer {
    background: #1b1d1f;
    position: relative;
    overflow: hidden;
}
.footer .mid-footer {
    color: #fff;
    padding: 40px 0;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.footer .mid-footer .title-menu {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.footer .mid-footer .des_foo {
    color: #fff;
    margin-bottom: 10px;
}
.footer .mid-footer .list-menu {
    padding-left: 20px;
    list-style: disc;
}
.footer .mid-footer .toggle-mn {
    padding-left: 0px !important;
}
.footer .mid-footer .content-contact {
    line-height: 30px;
}
.footer .mid-footer .content-contact span.list_footer {
    float: left;
    color: #fff;
}
b, strong {
    font-weight: bold;
}
.footer .mid-footer .content-contact span.list_footer a {
    color: #f3a270;
    font-weight: 600;
}
.footer .mid-footer .social-footer .social {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer .mid-footer .social-footer .social a {
    display: inline-block;
    background-color: transparent;
    width: 30px;
    font-size: 14px;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    position: relative;
}
.footer .mid-footer .social-footer .social a i {
    height: 14px;
    width: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
}
.footer .mid-footer .list-menu li {
    display: block;
    margin-bottom: 15px;
    display: list-item;
}
.footer .mid-footer .list-menu li a {
    font-size: 14px;
    color: #fff;
}
.footer .mid-footer .content-mailchimp {
    margin-bottom: 15px;
    display: block;
}
.footer .mid-footer .newsletter-form {
    position: relative;
    overflow: hidden;
}

.footer .mid-footer .newsletter-form input {
    height: 40px;
    width: 100%;
    border: 0;
    padding: 10px 110px 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.footer .mid-footer .newsletter-form button {
    height: 40px;
    border: 0;
    background: #f3a270;
    color: #fff;
    padding: 0 20px;
    margin-top: 0;
    border-radius: 0 10px 10px 0;
    position: absolute;
    right: 0;
}
.footer .mid-footer .mailchimp-alerts {
    margin-bottom: 15px;
    margin-top: 5px;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.footer .mid-footer .thanhtoan li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
}
.footer .mid-footer .thanhtoan li img {
    max-height: 34px;
    width: auto;
}
.footer #copyright {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border-top: 1px solid #fff;
    text-align: center;
}
.footer #copyright .copy-right {
    display: inline-block;
}